<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/adminNavbar.ejs') %>

<br>
<div class="container" style="background-color: #ffffff;">
    <br>
    <div class="card">
        <div class="card-header">

            <form action="/admin/trails/save" method="post">
                
                <div class="card-body">

                    <% if(msg != undefined){%>
                    <h2 style="color: red;"><%= msg %></h2>
                    <br><br>
                    <% }%>

                    <h3>Capa</h3>
                    <select name="coverId" class="form-control">
                        <% covers.forEach((cover) => { %>
                            <option value="<%= cover.id %>"><%= cover.name %></option>
                        <% }) %> 
                    </select>
                    <br><hr>
                    <% for(var i=0; i <  howManySubjects ; i++){%>
                        <h3>Tarefa <%= i+1 %> </h3>
                        <div class="card-body">
                            <select name="subjectsId" class="form-control" >
                                <% subjects.forEach((subject) => { %>
                                    <% if(subjectsControl[i] == subject.id){%>
                                        <option value="<%= subject.id %>" selected><%= subject.title %></option>
                                    <% }else{%>
                                        <option value="<%= subject.id %>"><%= subject.title %></option>
                                    <% } %>
                                <% }) %> 
                            </select>
                            <input type="number" name="howManyTasks" placeholder="Numero de tarefas" value="<%= howManyTasks[i] %>">
                            <input type="number" name="tasksIndex" placeholder="índice" value="<%= tasksIndex[i] %>">
                            <select name="levelsId" class="form-control">
                                <% levels.forEach((level) => { %>
                                    <% if(levelsControl[i] == level.id){%>
                                        <option value="<%= level.id %>" selected><%= level.title %></option>
                                    <% }else{%>
                                        <option value="<%= level.id %>"><%= level.title %></option>
                                    <% }%>
                                    
                                <%})%>
                            </select>
                        </div>
                        <hr>
                    <% } %>
                    <br>
                    <input type="hidden" name="trailNum" value="<%= trailNum %>">
                    <input type="hidden" name="howManySubjects" value="<%= howManySubjects %>">
                    <input type="hidden" name="studentId" value="<%=studentId%>">
                    <button class="btn btn-primary">Gravar</button> 
                </div>
            </form>          
        </div>
        <br>
    </div>
    <hr>
</div>

<%- include ('../../partials/footer.ejs') %>