<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/adminNavbar.ejs') %>

<br>
<div class="container" style="background-color: #ffffff;">
    <br>
    <h1><%= student.name %></h1>
    <h5><%= student.email %></h5>
    <hr>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="/admin/student/view/<%= student.id %>">Trilha atual</a>
        </li>
        <% if(automaticTrail){%>
            <li class="nav-item">
                <a class="nav-link" href="">Próximas trilhas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/admin/student/lastTrails/<%= student.id %>">Trilhas anteriores</a>
            </li>
        <% }%>
        <li class="nav-item">
            <a class="nav-link" href="/admin/student/planning/<%=student.id %>">Planejamento</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/trail/howMany/<%= student.id %>">Cadastrar nova trilha</a>
        </li>
        <% if(automaticTrail){%>
            <li class="nav-item">
                <a class="nav-link" onclick="openPopup(event)">Gerar trilha automática</a>
            </li>
        <% }%>
    </ul><br>

    <div class="container">

        <input type="hidden" namme="flag" value="<%= flag = true %>">
        <% trails.forEach(trails => { %>
            <% if(flag){ %>
                <div class="card">
                    <div class="card-header">
                        <h2>Trilha <%= trails.number %></h2>
                    </div>
                    <div class="card-body">
                        <a href="/admin/trail/view/<%= trails.id %>/<%= student.id %>/<%= 1 %>" class="btn btn-primary">Ver trilha</a>
                        <input type="hidden" namme="flag" value="<%= flag = false %>">
                    </div>
                </div>
                <br>
            <% }else{ %>
                <div class="card">
                    <div class="card-header">
                        <h2>Trilha <%= trails.number %></h2>
                    </div>
                    <div class="card-body">
                        <a href="/admin/trail/view/<%= trails.id %>/<%= student.id %>/<%= -1 %>" class="btn btn-primary">Ver trilha</a>
                    </div>
                </div>
                <br>
            <% } %>
        <% }) %> 

    </div>
    
</div>

<div id="myModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
          <div class="modal-header">
              <h3 class="Modal-title">Editar a trilha?</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-footer">
            <a href="/admin/trail/new/edit/<%=student.id %>" class="btn btn-primary">Sim</a>
            <a href="/admin/trail/trailsGen/<%=student.id %>" class="btn btn-primary">Não</a>
          </div>
      </div>
    </div>
</div>
  

<%- include ('../../partials/footer.ejs') %>

<Script>
    function openPopup(event){
        $('#myModal').modal('show');
    }
</Script>